@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&family=Poppins:ital,wght@1,700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-image: url("images/bbg2.jpg");
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover;
}
.card {
    background: #000000d0;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    width: 500px;
    color: white;
}
.search {
    display: flex;
    align-items: center;
    justify-items: center;
}
.search-bar {
    margin: 10px 10px;
    padding: 0.4em 1em;
    border-radius: 10px;
    border: none;
    background: #7c7c7c2b;
    color: white;
    font: inherit;
    font-size: 105%;
    outline: none;
}
.searchbtn {
    margin: 0.5em;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #7c7c7c2b;
    color: white;
    border: none;
    color: white;
    cursor: pointer;
    width: calc(100%-80px);
    transition: 0.2s ease-in-out;
  }
  .locationBtn{
    padding: 10px;
    border-radius: 15px;
    background: rgb(43, 43, 132);
    color: white;
    border: none;
    font-family: inherit;
    font-size: large;
   
  }
.locationBtn:hover {
  background: blue;
  }
.searchbtn:hover {
    background: #efeded2b;
  }
  p {
    font-family: inherit;
    font-size: larger;
  }